.list {
  display: flex;
}

.list-mobile {
  display: flex;
}

.mobile-button:hover {
  transform: scale(1.1);
}

.mobile-button {
  display: flex;
}

@media screen and (max-width: 700px) { /* Mobile */
  .list { 
    display: none; 
  }
}
@media screen and (min-width: 701px) {
  .list-mobile { 
    display: none; 
  }
  .mobile-button {
    display: none;
  }
}